body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.generalwriting{
        font-size: 30px;
}

.secondgeneralwriting{
    font-size: 15px;
}
.generalwriting .btn-primary:hover {
    color: #020002;
    background-color: #fd8bf8;
    border-color: #000000
}

.plop{

    text-align: center;
}

.secondplop{
    text-align: center;
    font-size: 25px;
    
}

.thirdplop{
    padding: 22px;
    text-align: center;
    font-size: 20px;
    border: solid;
    border-color: #8064A2;
    border-radius: 5px;

}

.btn-outline-primary, .btn-primary,  .btn-primary:active, .btn-primary:visited {


    background-color: #8064A2 !important;
    border-color: #8064A2;
    color:white;
}

.firstposttitel{
    color: #8064A2;

}

.firstpostnote{
    color: #3f0092;
    margin:3px;
    border: double;
    border-color: blueviolet;
    border-radius: 5px;
}
.secondpost{
    color: #3f0092;
    margin:3px;
    border: solid;
    border-color: rgb(196, 139, 248);
    border-radius: 5px;

}